body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 0px;
  margin: 0px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

header{
  background-color: #63B3ED;
  color: #FFFFFF;
}

h1{
  font-size: 36px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

p{
  text-align: center;
}


